#Portfolio{
    height: auto !important;
     
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: #000000;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.212);
}
 .title{
  height: 10%;
  padding: 20px;
 }
 .title>h1{
  margin-bottom: 0;
 }
.portfolio-card{
  height: 90%;
  display: grid;
  padding: 20px 0 20px 0;
  width: 100%;
  place-items: center;
  /* grid-template-rows: repeat(2,1fr); */
  grid-template-columns: repeat(3,1fr);
  column-gap: 10px;
  row-gap: 10px;
}

@media (max-width: 1450px) {
  .portfolio-card{
  grid-template-columns: repeat(2,1fr);
  column-gap: 10px;
  row-gap: 10px;
  }



}