#About{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: #000000;
    border-radius: 10px;
    /* box-shadow: 5px 5px 50px #ffffff; */
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.212);
}
/* ///////////////////////////////////////////////////right-side////////// */
.about-right{
  display: flex;
  width: 100%;

  flex-direction: column;
  /* flex: 1; */
}
.dark-mode-about{
    background-color: #ffffff !important;
    box-shadow:  0 6px 20px rgba(0, 0, 0, 0.2) !important;
  }

#hide>u:hover{
color: rgb(0, 0, 120) !important;
cursor: pointer;
  }

  
  .about-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-button {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .about-content-expanded {
  width: 95%;
  
    margin: 0 auto;
  }
  
  .about-content-collapsed {
    display: none;
  }
  
  /* /////////////////////////left-side////////////////////////////// */
  /* .about-left{
    display: flex;
    flex: 1;
  } */


  @media screen and (max-width: 768px) {
    #About{
      flex-direction: column;
    }
    .about-content-expanded {
      width: 100%;
        /* margin: 0 auto; */
      }
    .about-left{
      display: flex;
      flex: 1;
    }
    .about-right{
      flex: 2;
      
    }
    img{
      transform: scale(.6);
    }
  
  }