#Hobbies {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 10px;
    /* box-shadow: 5px 5px 50px #ffffff; */
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.212);
  }

  .dark-mode-contract {
    background-color: #ffffff !important;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2) !important;
  }